src/test/resources/pl/wavesoftware/wfirma/api/model/contractors.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
The MIT License

Copyright 2014 Krzysztof Suszyński <krzysztof.suszynski@gmail.com>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Wed Feb 26 2014 22:46:39 GMT+0100 (CET) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:include schemaLocation="logic/parameters.xsd" />
    <xs:complexType name="contractorType">
        <xs:sequence>
            <xs:element name="id" type="xs:int"></xs:element>
            <xs:element name="access" type="xs:string"></xs:element>
            <xs:element name="name" type="xs:string"></xs:element>
            <xs:element name="altname" type="xs:string"></xs:element>
            <xs:element name="nip" type="xs:string"></xs:element>
            <xs:element name="regon" type="xs:string"></xs:element>
            <xs:element name="street" type="xs:string"></xs:element>
            <xs:element name="zip" type="xs:string"></xs:element>
            <xs:element name="city" type="xs:string"></xs:element>
            <xs:element name="contact_name" type="xs:string"></xs:element>
            <xs:element name="contact_street" type="xs:string"></xs:element>
            <xs:element name="contact_zip" type="xs:string"></xs:element>
            <xs:element name="contact_city" type="xs:string"></xs:element>
            <xs:element name="contact_person" type="xs:string"></xs:element>
            <xs:element name="phone" type="xs:string"></xs:element>
            <xs:element name="fax" type="xs:string"></xs:element>
            <xs:element name="email" type="xs:string"></xs:element>
            <xs:element name="url" type="xs:string"></xs:element>
            <xs:element name="description" type="xs:string"></xs:element>
            <xs:element name="buyer" type="xs:int"></xs:element>
            <xs:element name="seller" type="xs:int"></xs:element>
            <xs:element name="discount_percent" type="xs:int"></xs:element>
            <xs:element name="payment_days" type="xs:int"></xs:element>
            <xs:element name="payment_method" type="xs:string"></xs:element>
            <xs:element name="remind" type="xs:int"></xs:element>
            <xs:element name="tags" type="xs:string"></xs:element>
            <xs:element name="notes" type="xs:int"></xs:element>
            <xs:element name="created" type="xs:string"></xs:element>
            <xs:element name="modified" type="xs:string"></xs:element>
            <xs:element name="provider" type="xs:int"></xs:element>
            <xs:element name="translation_language">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="company_account">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="invoice_description">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
                    
    </xs:complexType>
    <xs:complexType name="contractorsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="contractor" type="contractorType" />
            <xs:element maxOccurs="1" name="parameters" type="parametersType" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="contractors" type="contractorsType" />
</xs:schema>

