src/test/resources/pl/wavesoftware/wfirma/api/core/model/contractors.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Krzysztof Suszyński <krzysztof.suszynski@wavesoftware.pl>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <!-- XML Schema Generated from XML Document on Wed Feb 26 2014 22:46:39 GMT+0100 (CET) -->
    <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
    <xs:include schemaLocation="logic/parameters.xsd" />
    <xs:complexType name="contractorType">
        <xs:sequence>
            <xs:element name="id" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="access" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="altname" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="nip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="regon" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="street" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="zip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="city" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="contact_name" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="contact_street" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="contact_zip" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="contact_city" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="contact_person" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="phone" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="fax" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="email" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="url" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="buyer" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="seller" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="discount_percent" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="payment_days" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="payment_method" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="remind" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="tags" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="notes" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="created" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="modified" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="provider" type="xs:int" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="translation_language" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="company_account" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:int"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="invoice_description" maxOccurs="1" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
                    
    </xs:complexType>
    <xs:complexType name="contractorsType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="contractor" type="contractorType" />
            <xs:element maxOccurs="1" name="parameters" type="parametersType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="contractors" type="contractorsType" />
</xs:schema>

