src/test/resources/pl/wavesoftware/wfirma/api/model/logic/parameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2014 Krzysztof Suszyński <krzysztof.suszynski@wavesoftware.pl>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="parameters" type="parametersType" />
    <xsd:complexType name="parametersType">
        <xsd:sequence>
            <xsd:element name="conditions" type="conditionsType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="order" type="orderType" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="page" type="xsd:int" maxOccurs="1" minOccurs="0"/>
            <xsd:element name="limit" type="xsd:int" maxOccurs="1" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="orderType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="asc" type="xsd:string" />
            <xsd:element maxOccurs="unbounded" name="desc" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="conditionsType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="or" type="orType" />
            <xsd:element maxOccurs="unbounded" name="and" type="andType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="andType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="condition" type="conditionType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="orType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="condition" type="conditionType" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="conditionType">
        <xsd:sequence>
            <xsd:element name="field" type="xsd:string" />
            <xsd:element name="operator" type="logicalOperator" />
            <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="logicalOperator">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="eq"/>
            <xsd:enumeration value="ne"/>
            <xsd:enumeration value="lt"/>
            <xsd:enumeration value="le"/>
            <xsd:enumeration value="gt"/>
            <xsd:enumeration value="ge"/>
            <xsd:enumeration value="like"/>
            <xsd:enumeration value="not like"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
